<!DOCTYPE html>

<html class="progdesign">
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet/less" type="text/css" href="/static/css/style.less" />
    <script src="/static/js/less.js" type="text/javascript"></script>
    {% block head %}
    {% endblock head %}
</head>
</body>

    <div class="mainHorizontalTable">
        <div class="contentRow">
            <div class="contentTable">
                {% if not (hideSideContent is defined) %}
                <div class="leftAreaCell">
                    {% block sideContent %}
                    {% endblock sideContent %}
                </div>
                {% endif %}
                <div class="rightAreaCell">
                    {% block mainContent %}
                    {% endblock mainContent %}
                </div>
            </div>
        </div>
        <div class="footerRow">
            <div class="footerCell">
                Copyright 2013, Nicolas Vanhoren
            </div>
        </div>
    </div>

  <!--[if lt IE 8]>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
    <script>
        // You may want to place these lines inside an onload handler
        CFInstall.check({
        mode: "overlay"
        });
    </script>
  <![endif]-->
</body>
</html>