.jikoMainLogo {
  text-align: center;
}
.sidePageHeader {
  text-align: center;
}
.sidePageHeader > div {
  text-align: left;
  margin-bottom: 15px;
}
.sidePageHeader > div > h1 {
  font-size: 40px;
  margin: 10px 0px;
}
.sidePageHeader > div > h2 {
  font-size: 15px;
  margin: 15px 0px;
}
.sideNavigation a,
.usefulLinks a {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  font-style: italic;
}
.sideBlock {
  margin: 0 20px;
}
.usefulLinks a {
  display: block;
}
.horizontalSocialNetwork {
  text-align: center;
  padding-left: -10px;
}
.horizontalSocialNetwork > iframe {
  min-width: 85px;
}
.verticalSocialNetwork > iframe {
  display: block;
  margin: 7px 20px;
}
